# Dependencias locales y logs
node_modules/
npm-debug.log
yarn-error.log

# Archivos del sistema y de caché
.DS_Store
Thumbs.db
.vscode/

# Build and dist directories (Si en el futuro usas bundlers como Vite o Webpack)
dist/
build/
.cache/

# Ocultar assets excesivos del repo principal para GitHub Pages
public/downloads/*.rar
public/videos/FILM_COTA-1.mp4
