# Dependencias locales y logs
node_modules/
npm-debug.log
yarn-error.log

# Archivos del sistema y de caché
.DS_Store
Thumbs.db
.vscode/

# Build and dist directories (Si en el futuro usas bundlers como Vite o Webpack)
dist/
build/
.cache/

# Opcional: ignorar videos grandes si los subiste desde otra fuente y quieres ahorrar peso,
# si este es el caso descomentar la siguiente línea
# public/videos/*.mp4
